.branches{
  position: absolute;
  width: 1034px;
  height: 364px;
  left: 156px;
  top: 318px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
  
